.item
  display: flex
  align-items: center
  justify-content: space-between
  padding: .8rem .2rem .8rem 1.2rem
  border-radius: 1rem

  *
    display: inline-block

  &:not(:last-child)
    margin-bottom: 1rem
  &:last-child
    margin-bottom: 1rem

  &__check-text
    display: flex
    align-items: center
  &__btn
    margin-right: 1rem

  &_todo
    box-shadow: .1rem .2rem .6rem rgba(0, 0, 0, 0.25)

  &_complete
    opacity: .7

  &__checkbox
    margin-right: 1.2rem

.list_dark-mode > .block > .item
  background-color: $color-item-dark


//----drug&drop
<<<<<<< Updated upstream
//.drag-item
//  transition: opacity 200ms ease
=======
.shallow-draggable
  transition: opacity 2s ease
>>>>>>> Stashed changes

.dragging
  opacity: 0.5
  transition: opacity 1s ease