.list
  width: 40rem
  margin-bottom: 10rem
  padding: 2.5rem 0 2rem 0
  border-radius: 2rem

  background-color: $color-bright-light
  filter: $shadow-normal

  &_dark-mode
    background-color: $color-blue-light
    *
      color: $color-text-dark
    p
      font-weight: 300

    .header
      border-bottom: rgba($color-white, 0.15) solid 1px


//header of list
.header
  margin-bottom: 1.6rem
  padding-bottom: 2rem
  border-bottom: rgba(0, 0, 0, 0.15) solid 1px
  position: relative

  &__form
    position: relative
    width: 90%
    margin: 0 auto
  &__btn
    position: absolute
    transform: translateY(-50%)
    top: 50%
    right: 3%

  &__toggle-switch
    transform: scale(.65)
    margin-left: auto
    margin-right: 1rem
    margin-bottom: 1rem



