.pop-up
    visibility: hidden

    width: 100%
    height: 100vh
    background-color: rgba(0, 0, 0, .2)
    position: fixed
    left: 0
    top: 0
    display: flex
    justify-content: center
    align-items: center
    &__menu
        background-color: $color-bright-light
        border-radius: 2rem
        width: 38rem
        filter: $shadow-normal
        padding: 2rem
    &__form
        margin-bottom: 2rem
    &__color-bar
        padding-left: 2rem
        margin-bottom: 1rem
    &__calendar
        padding-left: 2rem
        margin-bottom: .5rem
        display: inline-block
        transform: scale(1.2)
    &__buttons
        display: flex
        flex-direction: row
        justify-content: space-around